/*
=============== 
Variables
===============
*/

:root {
    --border-radius: 14px;
}


/* CSS reset rules */
*,
*::after,
*::before {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 16px;
}

body {
    background-color: #000;
    font-family: sans-serif;
    font-size: 1rem;
    overflow-y: hidden;
}

#camera-area {
    color: #fb0;
    font-weight: bold;
}

#btn-scan {
    background: linear-gradient(#ffff7f, #ff9600);
}

#btn-cancel-scan {
    background: linear-gradient(#ffffaf, #ff2600);
}

.btn {
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: .5rem;
}

.select-area {
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    display: inline-block;
    padding: .5rem;
}